
MONGO_URI=mongodb+srv://jyothikaku0228_db_user:boS3PdLuo2J5Hgfg@cluster0.t9ttfrs.mongodb.net/

JWT_SECRET=QWERTYUIOPASDFGHJKLZXCVBNMqwertyuiopasdfghjklzxcvbnm


PORT=5000


CORS_ORIGIN=http://localhost:5173

